.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/eslint.config.mjs
**/.vscode-test.*
**/.env
.commits/**
vsce-install.sh
vsce-package.sh
vsce-publish.sh
.devcontainer/**
test/**
logo.svg
logo.png
icon.svg
CHANGELOG.md
demo.gif
Install_for_Visual_Studio_Code-v0.0.1-blue.png
Install_for_Visual_Studio_Code-v0.0.1-blue.svg
License-Apache_2.0-blue.png
License-Apache_2.0-blue.svg
License-Apache_2.0-green.png
License-Apache_2.0-green.svg
Visual_Studio_Code_Marketplace-v0.0.1-blue.png
Visual_Studio_Code_Marketplace-v0.0.1-blue.svg
