.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/eslint.config.mjs
**/.vscode-test.*
**/.env
.commits/**
vsce-install.sh
vsce-package.sh
vsce-publish.sh
vsce-publish-patch.sh
.devcontainer/**
test/**
logo.svg
logo.png
icon.svg
CHANGELOG.md
demo-prompt.gif
demo-prompt.mp4
demo.gif
demo.mp4
License-Apache_2.0-blue.png
License-Apache_2.0-blue.svg
License-Apache_2.0-green.png
License-Apache_2.0-green.svg
Visual_Studio_Code_Marketplace-latest-blue.png
Visual_Studio_Code_Marketplace-latest-blue.svg
.vscode-test-web/**
vsc-test-web.bat
vsc-test-web.sh
